nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    background: linear-gradient(135deg, #333, #555);
    padding: 20px 40px;
    justify-content: center;
    font-size: 23px;
    border-radius: 50px; 
}

nav ul li {
    position: relative;
    text-align: center;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #444;
    color: #ff6f61;
}

body {
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: rgb(255, 59, 59);
    text-align: center
}

h1, h2 {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #333;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    background-color: #929191;
}

img {
    max-width: 150%;
    height: auto;
    border-radius: 30px;
}

video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

button {
    background-color: #ff6f61;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #333;
    color: #ff6f61;
    transform: scale(1.05);
}
